/* [Name] by [Username] is marked with CC0 1.0 */
#name1{color: #000000;}
#name2{color: #000000;}
#name3{color: #000000;}
#name4{color: #000000;}
#name5{color: #000000;}

#name1{color: rgb(0, 0, 0);}
#name2{color: rgb(0, 0, 0);}
#name3{color: rgb(0, 0, 0);}
#name4{color: rgb(0, 0, 0);}
#name5{color: rgb(0, 0, 0);}

#name1{color: hsl(351°, 0%, 0%);}
#name2{color: hsl(351°, 0%, 0%);}
#name3{color: hsl(351°, 0%, 0%);}
#name4{color: hsl(351°, 0%, 0%);}
#name5{color: hsl(351°, 0%, 0%);}