/* [Name] by [Username] is marked with CC0 1.0 */
#colorname1{color: #000000;}
#colorname2{color: #000000;}
#colorname3{color: #000000;}
#colorname4{color: #000000;}
#colorname5{color: #000000;}

#colorname1{color: rgb(0, 0, 0);}
#colorname2{color: rgb(0, 0, 0);}
#colorname3{color: rgb(0, 0, 0);}
#colorname4{color: rgb(0, 0, 0);}
#colorname5{color: rgb(0, 0, 0);}

#colorname1{color: hsl(351°, 0%, 0%);}
#colorname2{color: hsl(351°, 0%, 0%);}
#colorname3{color: hsl(351°, 0%, 0%);}
#colorname4{color: hsl(351°, 0%, 0%);}
#colorname5{color: hsl(351°, 0%, 0%);}