/* Mural 1 by Black Shark Studios is marked with CC0 1.0 */
#peterBlue{color: #93B5C6;}
#teaGreen2{color: #DDEDAA;}
#orangeYellowCrayola{color: #F0CF65;}
#middleRed{color: #D7816A;}
#popstar{color: #BD4F6C;}

#peterBlue{color: rgb(147, 181, 198);}
#teaGreen2{color: rgb(221, 237, 170);}
#orangeYellowCrayola{color: rgb(240, 207, 101);}
#middleRed{color: rgb(215, 129, 106);}
#popstar{color: rgb(189, 79, 108);}

#peterBlue{color: hsl(200°, 31%, 68%);}
#teaGreen2{color: hsl(74°, 65%, 80%);}
#orangeYellowCrayola{color: hsl(46°, 82%, 67%);}
#middleRed{color: hsl(13°, 58%, 63%);}
#popstar{color: hsl(344°, 45%, 53%);}