/* Neon 2077 by Black Shark Studios is marked with CC0 1.0 */
#darkPurple1{color: #711C91;}
#futurePink1{color: #EA00D9;}
#neoncyan{color: #0ABDC6;}
#spaceblue{color: #133E7C;}
#darkbluecity{color: #091833;}

#darkPurple1{color: rgb(114, 28, 146);}
#futurePink1{color: rgb(234, 0, 217);}
#neoncyan{color: rgb(10, 189, 198);}
#spaceblue{color: rgb(19, 62, 124);}
#darkbluecity{color: rgb(9, 24, 51);}

#darkPurple1{color: hsl(284°, 68%, 34%);}
#futurePink1{color: hsl(304°, 100%, 46%);}
#neoncyan{color: hsl(183°, 90%, 41%);}
#spaceblue{color: hsl(215°, 73%, 28%);}
#darkbluecity{color: hsl(219°, 70%, 12%);}