/* Antonia by Black Shark Studios is marked with CC0 1.0 */
#byzantium{color: #820263;}
#dogwoodRose{color: #D90368;}
#platinum{color: #FFF2FB;}
#spaceCadet{color: #2E294E;}
#goldwebgolden{color: #FFD400;}

#byzantium{color: rgb(130, 2, 99);}
#dogwoodRose{color: rgb(217, 3, 104);}
#platinum{color: rgb(255, 3, 104);}
#spaceCadet{color: rgb(46, 41, 78);}
#goldwebgolden{color: rgb(255, 212, 0)}

#byzantium{color: hsl(315°, 97%, 26%);}
#dogwoodRose{color: hsl(332°, 97%, 43%);}
#platinum{color: hsl(318°, 100%, 97%);}
#spaceCadet{color: hsl(248°, 31%, 23%);}
#goldwebgolden{color: hsl(50°, 100%, 50%);}