/* Obsidian Sun by Black Shark Studios is marked with CC0 1.0 */
#black{color: #000000;}
#darkByzantium{color: #502F4C;}
#chineseViolet{color: #70587C;}
#thistle{color: #C8B8D8;}
#snow{color: #F9F4F5;}

#peterBlue{color: rgb(0, 0, 0);}
#darkByzantium{color: rgb(80, 47, 76);}
#chineseViolet{color: rgb(112, 88, 124);}
#thistle{color: rgb(200, 184, 216);}
#snow{color: rgb(249, 244, 245);}

#peterBlue{color: hsl(0°, 0%, 0%);}
#darkByzantium{color: hsl(307°, 26%, 25%);}
#chineseViolet{color: hsl(280°, 17%, 42%);}
#thistle{color: hsl(270°, 29%, 78%);}
#snow{color: hsl(348°, 29%, 97%);}